<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>834591940280-e3ngfepccrb2vjaa4d12f0asn02pu51q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834591940280-e3ngfepccrb2vjaa4d12f0asn02pu51q</string>
	<key>API_KEY</key>
	<string>AIzaSyCfcFRfSjzguvJQ7F64ysYMBbat95pf4js</string>
	<key>GCM_SENDER_ID</key>
	<string>834591940280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.mobileYat</string>
	<key>PROJECT_ID</key>
	<string>mobiledemo-5ddea</string>
	<key>STORAGE_BUCKET</key>
	<string>mobiledemo-5ddea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834591940280:ios:32b01b7ff4ba9cd2</string>
	<key>DATABASE_URL</key>
	<string>https://mobiledemo-5ddea.firebaseio.com</string>
</dict>
</plist>